# Minio Credentials
MINIO_ENDPOINT_URL=http://minio:9000
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_DOMAIN=minio
MINIO_REGION_NAME=us-east-1
MINIO_REGION=us-east-1

# AWS Credentials
AWS_ACCESS_KEY_ID=your_access_key
AWS_SECRET_ACCESS_KEY=your_secret_key
AWS_REGION=us-east-1
AWS_DEFAULT_REGION=us-east-1

# S3 Bucket Configuration
S3_BUCKET_NAME=github-repo-tracker
S3_BUCKET=s3://github-repo-tracker

# Nessie Configuration
NESSIE_URI=http://nessie:19120/api/v2

# Python Configuration
PYSPARK_PYTHON=/opt/conda/envs/py312/bin/python

# Spark Master Configuration
SPARK_MASTER_MODE=master
SPARK_MASTER_HOST=spark-master
SPARK_MASTER_PORT=7077
SPARK_MASTER_WEBUI_PORT=8088

# Spark Worker Configuration
SPARK_WORKER_MODE=worker
SPARK_WORKER_HOST=spark-worker
SPARK_WORKER_PORT=7078
SPARK_WORKER_WEBUI_PORT=8089