# GitHub API Token
GITHUB_TOKEN=github-token

# S3 Bucket Name
S3_BUCKET_NAME=github-repo-tracker

# Minio Credentials
MINIO_ENDPOINT_URL=http://minio:9000
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_DOMAIN=minio
MINIO_REGION_NAME=us-east-1
MINIO_REGION=us-east-1

# AWS Credentials
AWS_ACCESS_KEY_ID=minioadmin
AWS_SECRET_ACCESS_KEY=minioadmin
AWS_REGION=us-east-1
AWS_DEFAULT_REGION=us-east-1
